source https://nuget.org/api/v2

storage:none

nuget FSharp.Core >= 3.0
nuget Fable.Core >= 3.0
nuget Fable.Node
nuget Fable.Browser.Dom
nuget Fable.Browser.Url
nuget Fable.Browser.Css
nuget Fable.Fetch
nuget Fable.React
nuget Fable.Promise
nuget Thoth.Json >= 4.0.0
nuget Thoth.Fetch >= 2.0.0